# Open API Key
OPENAI_API_KEY=your_key
OPENAI_MODEL=text-embedding-3-small

# Google Gemini API Key
GOOGLE_API_KEY=your_key
GOOGLE_API_MODEL=gemini-embedding-001

# PGVector configuration
PGVECTOR_URL=your_pgvector_url
PGVECTOR_COLLECTION=your_collection_name